@model Post

<h2>Create new post</h2>
<form asp-action="Create" asp-controller="Post" method="post">
    <div>
        Post:
        <div>
            <label asp-for="Priority">Priority</label>
            <div>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <input class="form-control" type="text" asp-for="Priority" />
        </div>
        <div>
            <label asp-for="Content">Content</label>
            <div>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input class="form-control" type="text" asp-for="Content" />
        </div>

        <div>
            <label asp-for="Autor">Autor</label>
            <div>
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <input class="form-control" type="text" asp-for="Autor" />
        </div>

        <div>
            <label asp-for="Tags">Tags</label>
            <div>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <input class="form-control" type="text" asp-for="Tags" />
        </div>

        <div>
            <label asp-for="Comment">Comment</label>
            <div>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <input class="form-control" type="text" asp-for="Comment" />
        </div>
        <div >
            <label asp-for="Comment">Użtkownik</label>
            <select class="form-control" asp-for="UserId" asp-items="@Model.Users"></select>
        </div>


    </div>
    <button type="Submit">Zapisz</button>
</form>